pip install flask
pip install flask-WTF
import secrets
secrets.token_hex(16)
pip install flask-SQLAlchemy
from filename import db
tree - cmd 
pip install flask-bcrypt
 pip install flask-login
 pip install pillow
 pip install itsdangerous
 pip install flask - mail
